<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser
!pip install pandas

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py) ... done
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5066 sha256=53702876c0fe83f525f92c3c92ba300bb5f9ee920727ea7347bb37aa70d8be02
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/fc/8d/74/bcdd5e8a9433bfa4c4f9c1cccbfec40139322a28d77f61e45e
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6
Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 7.7 MB/s eta 0:00:00
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.1.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 5.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.1/13.1 MB 107.9 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.1.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.3/16.3 MB 112.4 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 346.6/346.6 kB 35.2 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.1.3 pandas-2.2.3 tzdata-2024.2

Then, we will load the necessary libraries.

In [2]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [3]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [4]:
some_list = r.generate_users(10)

In [5]:
some_list

[<randomuser.RandomUser at 0x7f16a673e690>,
 <randomuser.RandomUser at 0x7f16a673e6d0>,
 <randomuser.RandomUser at 0x7f16a673e710>,
 <randomuser.RandomUser at 0x7f16a673e750>,
 <randomuser.RandomUser at 0x7f16a673e790>,
 <randomuser.RandomUser at 0x7f16a673e810>,
 <randomuser.RandomUser at 0x7f16a673e850>,
 <randomuser.RandomUser at 0x7f16a673e890>,
 <randomuser.RandomUser at 0x7f16a673e8d0>,
 <randomuser.RandomUser at 0x7f16a673e7d0>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [6]:
name = r.get_full_name()

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [7]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Kemal Plöger   kemal.ploger@example.com
Emily Foster   emily.foster@example.com
Dogan Kretz   dogan.kretz@example.com
Sophia Claire   sophia.claire@example.com
Jeffrey Spencer   jeffrey.spencer@example.com
Noemie Brunet   noemie.brunet@example.com
پوریا پارسا   pwry.prs@example.com
Batur Kaya   batur.kaya@example.com
Elif Öztonga   elif.oztonga@example.com
Kenneth Hansen   kenneth.hansen@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [19]:
## Write your code here
for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/men/46.jpg
https://randomuser.me/api/portraits/women/43.jpg
https://randomuser.me/api/portraits/men/32.jpg
https://randomuser.me/api/portraits/women/47.jpg
https://randomuser.me/api/portraits/men/8.jpg
https://randomuser.me/api/portraits/women/87.jpg
https://randomuser.me/api/portraits/men/73.jpg
https://randomuser.me/api/portraits/men/15.jpg
https://randomuser.me/api/portraits/women/74.jpg
https://randomuser.me/api/portraits/men/34.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [20]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [21]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Mirjam Marie,female,Peseux,Genève,mirjam.marie@example.com,1987-11-03T18:46:03.392Z,https://randomuser.me/api/portraits/women/17.jpg
1,Salma Harlem,female,Ørje,Akershus,salma.harlem@example.com,1974-12-15T19:49:05.818Z,https://randomuser.me/api/portraits/women/96.jpg
2,Josefa Ferrer,female,Sevilla,Castilla la Mancha,josefa.ferrer@example.com,1961-11-02T23:52:02.907Z,https://randomuser.me/api/portraits/women/25.jpg
3,Benedikt Beckers,male,Pfaffenhofen an der Ilm,Mecklenburg-Vorpommern,benedikt.beckers@example.com,1987-02-27T03:00:49.986Z,https://randomuser.me/api/portraits/men/91.jpg
4,Sibilla Brauner,female,Plaue,Hamburg,sibilla.brauner@example.com,1968-10-19T05:00:06.689Z,https://randomuser.me/api/portraits/women/74.jpg
5,Tomine Nordeide,female,Trolla,Bergen,tomine.nordeide@example.com,1946-07-11T11:03:01.765Z,https://randomuser.me/api/portraits/women/38.jpg
6,Jordan May,male,Cavan,Mayo,jordan.may@example.com,1947-01-17T05:39:44.761Z,https://randomuser.me/api/portraits/men/62.jpg
7,Guro Løvik,female,Søgne,Rogaland,guro.lovik@example.com,1946-09-18T07:51:25.548Z,https://randomuser.me/api/portraits/women/67.jpg
8,Ragini Dikken,female,Archem,Zuid-Holland,ragini.dikken@example.com,1995-05-25T21:48:28.178Z,https://randomuser.me/api/portraits/women/16.jpg
9,Marsha Kelly,female,Queanbeyan,Western Australia,marsha.kelly@example.com,1971-10-17T14:30:40.999Z,https://randomuser.me/api/portraits/women/85.jpg

In [22]:
df1 = pd.DataFrame(get_users())

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [12]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [13]:
data = requests.get("https://web.archive.org/web/20240929211114/https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [14]:
results = json.loads(data.text)

We will convert our json data into *pandas* data frame.

In [25]:
pd.DataFrame(results).head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [16]:
df2 = pd.json_normalize(results)

In [26]:
df2.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [18]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [36]:
# Write your code here
df2.loc[df2['name']=='Banana']['nutritions.calories']

2    96
Name: nutritions.calories, dtype: int64

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [40]:
# Write your code here
result = requests.get("https://official-joke-api.appspot.com/jokes/ten")

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [41]:
# Write your code here
data = json.loads(result.text)

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [42]:
# Write your code here
dfx = pd.DataFrame(data)
dfx.head()

,type,setup,punchline,id
0,general,Why are mummys scared of vacation?,They're afraid to unwind.,302
1,general,Why didn’t the orange win the race?,It ran out of juice.,338
2,general,Did you hear about the cheese factory that exp...,There was nothing left but de Brie.,86
3,general,"Dad, can you put my shoes on?",I don't think they'll fit me.,83
4,programming,Why did the programmer always carry a pencil?,They preferred to write in C#.,448

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright © 2023 IBM Corporation. All rights reserved.